body {
  font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  height: 100%;
  background-color: rgb(60, 90, 85);
}

body * {
  box-sizing: border-box;
}

.view-body {
  padding: 16px 24px;
}

label {
  display: block;
}

/* NAVBAR STYLES */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: rgb(17, 29, 26);
}

.nav-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-icon {
  margin-right: 1em;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

a:visited {
  color: white;
}

a:link {
  color: white;
}

/* LOGIN/SIGNUP STYLES */
form div {
  margin-bottom: 10px;
}

form div input {
  border-radius: 6px;
  box-shadow: inset 0px 0px 0px 1px rgb(225, 233, 240),
    inset 0px 3px 1px 0px rgba(225, 233, 240, 0.15),
    inset 0px 0px 1px 1px rgba(155, 173, 188, 0.15);
  height: 30px;
  min-width: 250px;
  padding: 0 8px;
}

/* SINGLE PRODUCT STYLES */
.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid rgb(20, 30, 30);
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgb(65, 80, 70) inset;
  background-color: rgb(20, 30, 30);
  margin: 5px 0px;
  padding: 15px;
}

#product-header {
  display: flex;
  flex-direction: row;
}

#product-header-left {
  width: 30%;
  min-width: 100px;
  background-size: cover;
}

#single-product-img {
  border: 1px none #ddd;
  border-radius: 4px;
  width: 100%;
}

#product-header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 10px;
}

#product-price {
  font-size: 1.5em;
}

.product-info {
  padding: 5px;
}

hr {
  width: 100%;
  border: 1px solid rgb(65, 80, 70);
}

/* PRODUCTS LIST STYLES */
.products-list-container {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list-info {
  width: 100%;
  border: 2px solid rgb(20, 30, 30);
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgb(65, 80, 70) inset;
  background-color: rgb(20, 30, 30);
  margin: 5px 0px;
  padding: 10px;
}

.product-list-info a {
  display: flex;
  flex-direction: row;
}

.product-list-info:hover {
  border: 2px solid rgb(255, 255, 230);
  box-shadow: 0 0 3px rgb(255, 255, 230);
}

.product-image-container {
  width: 15%;
  min-width: 100px;
  background-size: cover;
}

.product-specs-container {
  padding: 0px 10px;
}

.product-name {
  font-size: 1.5em;
}

.product-image {
  width: 100%;
}

img {
  border: 1px none #ddd;
  border-radius: 4px;
  padding: 1px;
  width: 50px;
}

/* CONFIRMATION PAGE STYLES */
.confirmation-container {
  color: white;
}

/* CHECKOUT STYLES */
.checkout-container {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CART STYLES */
.cart-product-qty {
  color: rgb(202, 95, 202);
}

#add-cart-btn {
  background-color: purple;
  color: white;
  border-radius: 5px;
}

#add-cart-btn:hover {
  background-color: rgb(196, 48, 196);
  color: white;
}

#clear-cart-btn {
  background-color: blue;
  color: white;
  border-radius: 5px;
}

#clear-cart-btn:hover {
  background-color: rgb(78, 78, 214);
  color: white;
}

#checkout-cart-btn {
  background-color: goldenrod;
  color: white;
  border-radius: 5px;
}

#checkout-cart-btn:hover {
  background-color: rgb(209, 179, 105);
  color: white;
}

.inc-btn {
  background-color: green;
  color: white;
  border-radius: 5px;
}

.inc-btn:hover {
  background-color: rgb(29, 180, 67);
  color: white;
}

.dec-btn {
  background-color: red;
  color: white;
  border-radius: 5px;
}

.dec-btn:hover {
  background-color: rgb(206, 89, 89);
  color: white;
}

.trash-btn {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.trash-btn:hover {
  background-color: rgb(58, 54, 54);
  color: white;
}
