body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img.product-image {
  border: 1px none #ddd;
  border-radius: 4px;
  padding: 1px;
  width: 120px;
  height: 125px;
}

img.logo-image {
  border: 1px none #ddd;
  border-radius: 4px;
  padding: 1px;
  width: 200px;
  height: 100px;
}

img.item-image {
  border: 1px none #ddd;
  border-radius: 4px;
  padding: 1px;
  width: 140px;
  height: 155px;
}

h1#title-fb {
  color: black;
}

a#doo {
  text-decoration: none;
}

div#logo-title {
  display: flex;
  align-items: center;
}
