body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  border: 1px none #ddd;
  border-radius: 4px;
  padding: 1px;
  width: 50px;
  height: 75px;
}
